[submodule "packages/fbr_function_tool_kit"]
	path = packages/fbr_function_tool_kit
	url = https://github.com/balmacefa/fbr_function_tool_kit.git
[submodule "packages/siaj_dashboard"]
	path = packages/siaj_dashboard
	url = https://github.com/balmacefa/ios_cms_iiresodh.git
